/* add buttons and stuff here later */


html, body {
  height: 100%;
}
  
body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  /*justify-content: center;*/

  /* This centers our sketch vertically. */
  align-items: center; 

}

.btn-group button {
  background-color: #0b9ed9; /* Green background */
  border: 1px solid #007cad; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #1ebbfa;
}